@charset "utf-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 카페24 써라운드에어 */

@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
/* 카페24 당당해 */

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 카페24 단정해 */

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
html, body {
    color: #333;
    /* min-width: 1280px; */

}

/* header */
header {
    height: 80px;
    line-height: 80px;
    /* background-color: #000000; */
}
header div {
    /* width: 1920px; */
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header div h1 {
    /* 오류 추가 및 수정 */
    max-width: 1280px;
    width: 100%;
    margin-left: -250px;
}

header div h1 em {
    font-size: 30px;
    border-color: #32546d;
    background-color: #f3485b;
    border-radius: 20px 20px 0 0;
    padding: 10px 10px;
    line-height: 120px;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Cafe24Ssurround';
    margin: 50px;
    
}
header div a {
    font-size: 18px;
    font-family: 'Cafe24Ssurround';
}
header div h2{
  width: 200%;
  height: 100%;
  margin-right: -700px;
  /* background-color: aqua; */
  
  
}

header div h2 a {
    width: 100px;
    height: 0px;
    background-color: #32546d;
    border-radius: 20px 20px 0 0;
    font-size: 24px;
    margin: 15px;
    padding: 13px;
    font-display: flex;
    line-height: 120px;
    color: #fff;
    /* margin-left: 0px; */
    text-align: center;
    letter-spacing: 0.5px;

}

/* .main_visual */
.main_visual {
    width: 100%; 
    /* height: 57vw; */
    /* height: calc(102vh - 80px); */
    /* 높이 : 브라우저전체높이 - 헤더값 */
    position: relative;
}
.main_visual figure {
    width: 100%;
    height: 100%;
}
.main_visual video {
    display: block;
    width: 100%;
}

/* .main_visual figure video {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.main_visual .title {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    /* text-align: center; */
    margin-top: 7%;
}
.main_visual .title h2 {
    height: 80px;
    width: 102%;
    font-size: 65px;
    color: #32546d;
    letter-spacing: 5px;
    background-color: #fff;
    border-radius: 30px 30px 25px 0;
    text-align: center;
    font-family: 'Cafe24Ohsquare';
    line-height: 85px;
    margin-top: -150px;
    background-color: #80a7b8;
    margin-top: -137px;
    font-style: italic;
}
.main_visual .title p {
    width: 100%;
    font-size: 30px;
    margin-bottom: 40px;
}
.main_visual .title a {
    color: #fff;
    width: 125px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(225, 65, 65);
    text-align: center;
    display: block;
    border-radius: 20px;
    margin-top: 10px;
    letter-spacing: 4px;
    font-family: 'Cafe24Danjunghae';
    font-size: 20px;

}

/* .best_v */
.best_v {
    /* background: url('../images/파일명.확장자명') ; */
    padding: 100px 0;
    background-color: #1b9ab8;
    /* 오류추가 */
    overflow-x: hidden;
}
.best_v .title {
    text-align: center;
    margin-bottom: 100px;
}
.best_v .title h3 {
    font-size: 50px;
    background-color: #fff;
    /* letter-spacing: 3px; */
    height: 80px;
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: -20px;
    letter-spacing: 8px;
    line-height: 70px;
    font-family: 'Cafe24Ohsquare';
}
.best_v .title h2 {
    background-color: #000000;
    width:100%;
    height: 50px;
    text-align: center;
    display: block;
    font-size: 30px;
    color: #fff;
    letter-spacing: 8px;
    margin-top: 5px;
    line-height: 50px;
    font-family: 'Cafe24Ohsquare';
    
    
}
.best_v .title p {
    font-size: 20px;
    font-family: 'Cafe24Ohsquare';
}
.best_v .cont {
    height: 540px;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* 
    가로 : 1280px
    1280을 화면 가운데 배치
    유튜브, info 가로로 나열
    양끝에 붙여서 정렬
    수직가운데 정렬
    */
}
.best_v .cont .youtube {
    width: 50%;
}
.best_v .cont .youtube .youtube_in {
    width: 100%;
    padding-bottom: 56.25%;
    /* 화면비율 16:9 */
    position: relative;
}
.best_v .cont .youtube .youtube_in iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.best_v .cont .info {
    width: 45%;
    background-color: #80a7b8;
    height: 420px;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    margin-top: 60px;
}
.best_v .cont .info h4 {
    font-size: 33px;    
    color: #000000;
    background-color: #5b5b5b;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 12%;
    line-height: 50px;
    letter-spacing: 3px;
    font-family: 'Cafe24Ssurround';
    text-align: center;
    line-height: 60px;
    
    
}

.best_v .cont .info strong {
    background-color: rgba(255, 255, 255, 0.242);
    color: rgba(4, 4, 4, 0.524);
    padding: 6px 111px 8px 112px;
    height: 100%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Cafe24SsurroundAir';
}
.best_v .cont .info p:nth-of-type(1) {
    /* 외부여백 위20px 아래 40px */
    margin: 30px 0 30px;
    color: rgba(255, 255, 255, 0.584);
    background-color: rgba(0, 0, 0, 0.242);
    font-size: 19px;
    letter-spacing: 3px;
    padding: 5px;
    text-align: start;
    padding-left: 8px;
    margin-left: 60px;
    border-radius: 5px 0 0 5px; 
    font-weight: bold;
    font-family: 'Cafe24SsurroundAir';
    line-height: 25px;
    
    
    

    
}

.best_v .cont .info p:nth-of-type(2) {
    /* 외부여백 위20px 아래 40px */
    margin: 20px 0 40px;
    color: #fff;
    font-family: 'Cafe24SsurroundAir';
    
}
.best_v .cont .info .name {
    background-color: rgba(0, 0, 0, 0.242);
    padding: 10px;
    margin-right: 33px;
    border-radius: 0 5px 5px 0;
    font-family: 'Cafe24Ssurround';
    text-align: center;
    line-height: 10px;
    font-weight: bold;
}
.best_v .cont .info  dl {
    display: flex;
    margin-bottom: 14px;
    color: rgba(255, 255, 255, 0.584);
    margin-top: 9px;
    font-size: 20px;
    font-family: 'Cafe24SsurroundAir';
    line-height: 15px;
    letter-spacing: 3px;
}
.best_v .cont .info  dl dt {
    font-weight: bold;
    width: 125px;
}
.best_v .cont .info  ul {
    display: flex;
    margin-top: 3px;
}
.best_v .cont .info ul li a {
    height: 45px;
    line-height: 40px;
    background-color: royalblue;
    border: 2px solid royalblue;
    box-sizing: border-box;
    /* 테두리 : 1px 직선 색상 */
    /* 테두리를 포함해서 높이(45px)가 잡힐 수 있도록 설정
     */
    display: block;
    padding: 0 10px;
    margin-right: 30px;
    color: #fff;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Cafe24SsurroundAir';
    
}
.best_v .cont .info ul li:nth-child(1) a {
    background-color: royalblue;
    color: #fff;
    margin-left: 415px;
    letter-spacing: 3px;

}

/* .motion */
.motion {
    padding: 100px 0;
    padding-top: 0px;
    background-color: #7fa7b7;
}
.motion .title {
    text-align: center;
    margin-bottom: 40px;
}
.motion .title h3 {
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    height: 80px;
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: -20px;
    letter-spacing: 8px;
    line-height: 70px;
    color: #fff;
    font-family: 'Cafe24SsurroundAir';
}
.motion .title p {
    font-size: 25px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Cafe24SsurroundAir';
    
}
.motion .list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Cafe24SsurroundAir';
}
.motion .list li {
    cursor: pointer;
    /* 마우스모양 : 손모양 */

    height: 45px;
    line-height: 45px;
    border: 1px solid #ccc;
    padding: 0 30px;
    margin: 0 15px;
    box-sizing: border-box;
    background-color: rgba(204, 204, 204, 0.722);
    border-radius: 10px ;
    font-weight: bold;
    font-size: 18px;

}

.motion .list li.on {
    box-shadow: 2px 3px 15px rgba(255, 0, 0, 0.4);
    /* 그림자 : x축 y축 블러 색상 */
    background-color: rgb(255, 50, 50);
    color: #fff;
    border: 0;
}
.motion .motion_cont .list_cont {
    width: 1280px;
    margin: 0 auto;
    /* display: flex; */
    display: none; 
    justify-content: space-between;
    
}
.motion .motion_cont .list_cont.on {
    display: flex;
}
.motion .motion_cont .list_cont .items {
    width: 49%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* 유튜브 영상 크기 조절 */
.youtube {
    width: 100%;
}
.youtube .youtube_in {
    width: 100%;
    padding-bottom: 56.25%;
    /* 화면비율 16:9 비율 */
    position: relative;
}
.youtube .youtube_in iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.motion .list_cont .items .info {
    padding: 30px;
    background-color: #eee;
    font-family: 'Cafe24SsurroundAir';
}
.motion .list_cont .items .info h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.motion .list_cont .items .info p {
    color: rgb(0, 0, 0);
}
.motion .list_cont .items .info dl {
    display: flex;
    margin-top: 10px;
}
.motion .list_cont .items .info dl dt {
    width: 20%;
    font-weight: bold;
}
.motion .list_cont .items .info dl dd:hover a {
    text-decoration: underline;
}

/* .g_ver05 */
.g_ver05 {
    background-color: #eee;
    padding: 100px 0;
}
.g_ver05 .title {
    text-align: center;
    /* width: 1500px; */
    width: 1280px;
    margin: 0 auto;
}
.g_ver05 .title h3 {
    font-size: 50px;
    background-color: #ffffff;
    letter-spacing: 4px;
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    font-family: 'Cafe24SsurroundAir';
}
.g_ver05 .title p {
    font-size: 25px;
    background-color: #000000;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 0 0 10px 10px;
    height: 45px;
    text-align:center;
    line-height: 45px;
    color: #fff;
    font-family: 'Cafe24SsurroundAir';
}
.g_ver05 .title em {
    font-size: 13px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: -5px;
    display: block;
    /* 글자크기 : 13px
    텍스트 오른쪽 정렬
    외부여백 위로 40px
    외부여백 아래로 10px */
    margin-top: 10px;
    margin-bottom: -5px;
    
}
.g_ver05 .cont {
    /* width: 1500px; */
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Cafe24SsurroundAir';
}
.g_ver05 .cont .items {
    /* width: 49%;
    background-color: #fff;
    display: flex;
    align-items: center;
    /* 한줄일 때 수직정렬 : 가운데 */ 
    width: 23%;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 2px 3px 15px #dfdfdf;
}

.g_ver05 .cont .items figure {
    width: 350px;
    height: 400px;
    overflow: hidden;
    /* 가로 : 400px
    세로 : 400px */
}
.g_ver05 .cont .items { 
    /* width: 35%;
    background-color: #fff;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 50px;
    align-items: center;   
    display: flex;  */
    width: 30%;
    background-color: #fff;
    padding: 18px;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 20px;
    /* align-items: center;
    display: flex;
    text-align: center; */
    
}
.g_ver05 .cont .items figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
    
    
    /* figure가 가진 가로 세로영역 딱 맞게 넣고 비율에 맞춰 전체 덮이도록 설정 */

}
.g_ver05 .cont .items:hover figure img {
    transform: scale(1.5);
}
.g_ver05 .cont .items .info {
    /* width: 40%; */
    /* padding-bottom: 20px; */
    /* box-sizing: border-box; */
    margin: 30px 0;
 /*    font-weight: bold; */
    /* 가로 : 40% 
    내부여백-왼쪽 20px;
    여백을 포함해서 가로값 잡히도록 설정
    */

   

    
}
.g_ver05 .cont .items .info p {
    /* 글자크기 : 14px */
    font-size: 14px;
    margin-top: 3px;
    
}
.g_ver05 .cont .items .info h4 {
    /* 다른컨텐츠에 있는 h4크기와 동일하게 작성 */
    font-size: 30px;
    margin-bottom: -41px;
    line-height: 70px;
}

/* .about */
.about {
    padding: 100px 0;
}
.about .cont {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .cont figure {
    width: 30%;
    height: 500px;
}
.about .cont figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.about .cont .info {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .cont .info div {
    width: 45%;
    margin: 20px 0;
    /* background-color: antiquewhite;// */

}
.about .cont .info div h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.about .cont .info div p {
    font-size: 20px;
    margin-bottom: 5px;
}
.about .cont .info div dl dt {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.about .cont .info div dl dd {
    font-size: 20px;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    letter-spacing: 2px;
}
footer ul li {
    width: 280px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin: 10px auto;
    letter-spacing: 0.5px;
    /* 가로 : 220px
    세로 : 50px
    글자 수직가운데정렬 
    테두리 : 1px solid 색상
    모서리곡선 : 50px
    외부여백 :  위아래 10px 좌우 자동 */
}
footer ul li a {color: #fff;}
footer ul li:first-child {
    background-color: royalblue;
    font-weight: bold;
    letter-spacing: 3px;
}
footer ul li:first-child a {
    /* 글자색상 조절 */
}
footer p {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.615);
}

/* 반응형 제작
해상도 가로 960px 이하일 때 적용되는 스타일 */

@media screen and (max-width: 1280px) {
    .main_visual {height: 56vw;}
    /* 브라우저 너비 1280px이하일 때 스타일 */
    header div {width: 100%;}
    .main_visual .title {width: 100%;}
    .best_v .cont {width: 100%;}
    .motion .motion_cont .list_cont {width: 100%;}
    .g_ver05 .cont {width: 100%}
    .g_ver05 .title {width: 100%;}
    .about .cont {width: 100%;}
} 

@media screen and (max-width: 960px) {

    .best_v .cont {flex-wrap: wrap}
    .best_v .cont .youtube {width: 100%;}
    .best_v .cont .info {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px; 
    }
    .best_v .cont .info p:nth-of-type(2){
        margin: 10px 0 20px;
    }
    .motion .list {
        display: flex;
        flex-wrap: wrap;
        /* display: list-item; */

        
    }
    .motion .list .li {
        margin-bottom:  10px;
        padding: 0 20px;
        margin: 7px;
    }
    .motion .motion_cont .list_cont.on{
        flex-wrap: wrap;
    }
    .motion .motion_cont .list_cont .items {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .g_ver05 .cont .items {
        /* width: 95%;
        오류 추가 및 수정
        margin: 0 auto;
        margin-bottom: 20px; */

        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;

    }
    .about .cont{
        flex-wrap: wrap;
    }
    .about .cont figure {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .about .cont .info {
        width: 90%;
        margin: 0 auto;
    }
    
    body {
        overflow-x: hidden;
    }

}   
/* 해상도 960px이하 */

@media screen and (max-width:640px){
    .main_visual {height: 56vw;}
    .main_visual .title a {
        color: #fff;
        /* width: 81px; */
        /* height: 27px; */
        /* line-height: 40px; */
        background-color: rgb(225, 65, 65);
        text-align: center;
        display: block;
        border-radius: 20px;
        margin-top: 6px;
        letter-spacing: 4px;
        font-family: 'Cafe24Danjunghae';
        font-size: 10px;
        width: 73px;
        height: 21px;
        line-height: 20px;
    
    }
    header div h1 {
        max-width: 0px;
        width: 100%;
        margin-left: 0px;
        margin-top: -33px;
        height: 100%;
    }

    .best_v .title h2{
        font-size: 20px;
    }

    .best_v .title h3 {
        font-size: 28px !important;
        letter-spacing: 4px;
        
    }
    
    .best_v .cont .info .name{
    margin-right: 0px;
    }


    header div h2{
        height: 30%;
        margin-right: -380px;
        
        /* background-color: rgb(205, 0, 0); */
        
    }


    .best_v .cont .info ul li:nth-child(1) a {
        margin-left: 90px;
        
    }
    
    
    .best_v .cont .info strong {
        background-color: rgba(255, 255, 255, 0.242);
        color: rgba(4, 4, 4, 0.524);
        padding: 6px 32px 8px 32px;
        height: 100%;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: 'Cafe24SsurroundAir';
    }

    header div h2 a {
        margin: 5px;
        font-size: 10px !important;
        line-height: 135px;
        padding: 7px;
    }

    header div h1 em {
        font-size: 15px !important;
        padding: 5px 5px;
        line-height: -10px;
        letter-spacing: 3px;
        margin: 10px;
        /* margin-top: 100px; */
        /* height: 100px; */
        /* width: 100px; */
        border-radius: 15px;
    }
    .motion .title p {
        font-size: 15px !important;
    }
    
    .motion .list li {
        margin: 5px;
        padding: 0 7px;
    }   
    .motion .list .li {
        padding: 0 20px;
        margin: 7px;
    }

    .motion .title h3 {
    font-size: 28px !important;
    
    }
    /* .main_visual figure video {
        width: 640px;
        height: 800px;
        object-fit: cover;
    } */
    .main_visual .title {
        padding-left: 5%;
        box-sizing: border-box;
        /* 오류 추가 및 수정 */
        left: 50%;
    }
    .main_visual .title h2 {

    /* font-size: 45px !important;
    margin-top: 111px;
    line-height: 48px;
    height: 143px;
    margin-right: 10px; */
    /* 오류 추가 및 수정 */
    /* width: 100%; */

    font-size: 15px !important;
    margin-top: -22px;
    line-height: 15px;
    height: 45px;
    margin-right: -171px;
    width: 100%;
    }

    .g_ver05 .title em{
        margin-top: 7px;
        margin-bottom: 18px;
    }
    
    .g_ver05 .cont .items figure{
        width: 200px;
        height: 200px;
    }
    .g_ver05 .cont {
        flex-wrap: wrap;
    }

   .g_ver05 .title h3 {
    font-size: 25px;
    border-radius: 0%;
    }

   .g_ver05 .title p {
    font-size: 15px;
    border-radius: 0%;
    letter-spacing: 0px;
    }
   
    .g_ver05 .cont .items figure {
    width: 300px;
    
    }

    .main_visual .title h3 {
        font-size: 30px !important;
    }
    
    .main_visual .title p {
        font-size: 10px !important;
        
    }

    .main_visual .title h4 {
        font-size: 22px !important;
    }
    .motion .list_cont .items .info{
        padding: 15px;
    }
    .motion .list_cont .items .info dl dd{
        width: 30%;
    }
    .motion .list_cont .items .info dl dd{
        width: 70%;
        word-break: break-all;
        /* 줄바꿈 : 글자별 */
    }
    .g_ver05 .cont .items figure{
        width: 100%;
        height: 70%;
    }
    .about .cont  .info div h4 {margin-bottom: 10px;}
    .about .cont  .info div p {font-size: 16px;}
    .about .cont  .info div dl dt {font-size: 16px;}
    .about .cont  .info div dl dd{font-size: 16px;}
    /* 오류 추가 및 수정 */
    .about .cont .info div h4 {font-size: 22px;}
}
    body {
        overflow-x: hidden;}

/* 해상도 640px 이하 */
